<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
    <test name="Test 1">
        <classes>
            <class name="com.rozborskyi.automation.IsJavaTutorialsPageOpenTest"/>
            <class name="com.rozborskyi.automation.IsJavaTutorialsPageOpenTest1"/>
        </classes>
    </test>
</suite>